    
/* Global
------------------*/
html
{
    box-sizing: border-box;
}

*, *:before, *:after
{
    box-sizing: inherit;
}

body 
{
    /* background-image: linear-gradient(to right, #F85B1A, rgba(248, 91, 26, 0.05)); */
    background: linear-gradient(rgba(255, 255, 255, 0.5),
                                rgba(255, 255, 255, 0.5)), 
                                rgba(242, 153, 33, 0.5)
                                url(../images/bggoku.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 300px 500px;
/*    background-size: cover;*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

hr
{
    display: inline-block;
    width: 200px;
    height: 3px;
    background: rgba(248, 91, 26, 0.6);
    border-color: rgba(248, 91, 26, 0.6);
    border: 1px;
    border-radius: 6%;
}

.teamInfo
{
    background: rgba(248, 91, 26, 0.5);
    max-width: 300px;
    text-align: center;
}

@font-face
{
    font-family: 'Saiyan Font';
    src: url('fonts/SaiyanFont/ss-webfont.woff2') format('woff'),
         url('fonts/ss-webfont.woff') format('woff');
}

@font-face
{
    font-family: 'Bebas';
    src: url('fonts/BebasNeue/bebasneue-bold-webfont.woff2') format('woff'),
         url('fonts/bebasneue-bold-webfont.woff') format('woff');
}

@font-face
{
    font-family: 'Simplifica';
    src: url('fonts/Simplifica/simplifica_typeface-webfont.woff2') format('woff'),
         url('fonts/simplifica_typeface-webfont.woff') format('woff');
}

/* Text fields */
[type="text"]
{
    border: 2.5px solid rgba(7, 32, 131, 0.7);
    padding: 3px;
    margin: 1% auto;
    border-radius: 5px;
}

[type="password"]
{
    border: 2.5px solid rgba(248, 107, 26, 0.7);
    padding: 3px;
    margin: 1% auto;
    border-radius: 5px;
}

[type="email"]
{
    border: 2.5px solid rgba(248, 107, 26, 0.7);
    padding: 3px;
    margin: 1% auto;
    border-radius: 5px;
}

[type="tel"]
{
    border: 2.5px solid rgba(7, 32, 131, 0.7);
    padding: 3px;
    margin: 1% auto;
    border-radius: 5px;
}


/* Buttons */
.buttonLayout
{
    text-align: left;
    display: inline-block;
    margin: 1% 1.75%;
}

.modalButtonLayout
{
    text-align: left;
    display: inline-block;
    margin: 3% 1.75%;
}

.buttons
{
    background: rgba(255, 215, 193, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px 4px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    font-size: 70%;
    font-family: Capriola, sans-serif;
    border-radius: 3px;
}

.buttons:hover
{
    background: rgb(253, 195, 165, 0.5);
    color: rgba(0, 0, 0, 0.6);
}

h1
{
    color: rgba(7, 32, 131, 0.8);
    letter-spacing: 2px;
    margin-top: 25px;
    display: inline-block;
}

h2
{
    /* background-image: linear-gradient(to right, rgba(229, 153, 130, 1), rgba(248, 91, 26, 0)); */
    background-color: rgba(229, 153, 130, 0.65);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Bebas, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    width: 95%;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    color: #072083;
}

label
{
    display: inline-block;
    clear: left;
    width: 156px;
    text-align: left;
    margin-left: 10px;
    margin-right: 30px;
    font-family: Capriola, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

label[for=loginUsername], label[for=loginPassword]
{
    margin-left: 50px;
    margin-right: 10px;
}

input 
{
    background: rgba(255, 215, 193, 0.6);
    display: inline-block;
}


/* Header and Footer 
-------------------*/

.headBanner
{
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    padding: 5px;
}

header
{
    background-image: linear-gradient(to right, rgba(248, 91, 26, 0.375), rgba(248, 91, 26, 0.05));
    font-family: 'Saiyan Font', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0 0;
}

.banner-img
{
    height: auto;
    width: auto;
    max-width: 65px;
    max-height: 65px;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.footBanner
{
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
}

footer
{
    height: 35px;
    background-image: linear-gradient(rgba(242, 153, 33, 0), rgba(248, 91, 26, 0.4));
    text-align: center;
    color: rgba(7, 32, 131, 0.4);
    font-family: Capriola, sans-serif;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

/* Login Page 
-------------------*/

#loginDiv
{
    border-style: solid;
    border-width: 5px;
    border-color: #072083;
    border-radius: 10px;

    background: linear-gradient(rgba(255, 255, 255, 0.65),
                                rgba(255, 255, 255, 0.65)), 
                                url(../images/bgvalley.png) no-repeat;
    background-color: #F29921;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    margin: 13% auto;
    min-width: 500px;
    min-height: 200px;
    max-width: 500px;
    max-height: 200px;
    padding: 10px 0 0 20px;

    box-shadow: 9px 9px 9px rgba(128, 128, 128, 1);
}


/* Register Page 
-------------------*/

#registerDiv
{
    border-style: solid;
    border-width: 5px;
    border-color: #072083;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.65),
                                rgba(255, 255, 255, 0.65)), 
                                url(../images/bgvalley.png) no-repeat;
    background-color: #F29921;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    margin: 10% 20%;
    margin: 10% auto;
    min-width: 450px;
    min-height: 285px;
    max-width: 400px;
    max-height: 1200px;
    padding: 5px 0 10px 20px;

    box-shadow: 10px 10px 10px grey;
}

/* Contact Control
-------------------*/

#contactControlDiv
{
    border-style: solid;
    border-width: 5px;
    border-color: #072083;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
                                rgba(255, 255, 255, 0.5)), 
                                url(../images/bgvalley.png) no-repeat;
    background-color: #F29921;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    margin: 10% 20%;
    margin: 10% auto;
    min-width: 450px;
    min-height: 285px;
    max-width: 400px;
    max-height: 1200px;
    padding: 0 0 0 20px;
    
    box-shadow: 10px 10px 10px grey; 
}

/* #contactInfoDiv
{
    border-style: solid;
    border-width: 5px;
    border-color: #072083;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
                                rgba(255, 255, 255, 0.5)), 
                                url(../images/bgvalley.png) no-repeat;
    background-color: #F29921;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin: 10% auto;
    min-width: 450px;
    min-height: 285px;
    max-width: 400px;
    max-height: 1200px;
    padding: 0 0 0 20px;
    
    box-shadow: 10px 10px 10px grey;
} */

#contactSearch
{
    margin: auto 5px;
}

/* Modal Implementation 6/8 - Kenny
-------------------------------------*/

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-add
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
    font-size: 0.9em;
    font-family: Capriola, sans-serif;
}

.modal-search
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
    font-size: 0.9em;
    font-family: Capriola, sans-serif;
}

.confirmModal
{
    border-style: solid;
    border-width: 5px;
    border-color: #F29921;
    border-radius: 10px;
    background: #F6F6F6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    min-width: 250px;
    min-height: 160px;
    max-width: 250px;
    max-height: 160px;
    margin: 20% auto;

    animation: modalOpenClose 3s;
    text-align: center;
    color: black;
}

.modal-content
{
    border-style: solid;
    border-width: 5px;
    border-color: #072083;
    border-radius: 10px;
    background-color: #F29921;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
                                rgba(255, 255, 255, 0.5)), 
                                url(../images/bgpond.png) no-repeat;

    min-width: 450px;
    min-height: 285px;
    max-width: 400px;
    max-height: 350px;
    padding: 10px 0 0 20px;
    margin: 13% auto;
    padding: 20px;

    /* width: 70%; */
    /* height: 55%; */
    animation-name: modalOpen;
    animation-duration: 0.8s;
}

.roshi-img
{
    max-width: 35%;
    max-height: 30%;
    float: center;
    margin-top: 15px;
    margin-right: 25%;
    margin-left: 23%;
    margin-bottom: 5px;
    opacity: 0.8;
}

@keyframes modalOpen
{
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes modalOpenClose
{
    0% {opacity: 0}
    50% {opacity: 1}
    80% {opacity: 0}
    100% {opacity: 0}
}