/* Global
------------------*/

html
{
    box-sizing: border-box;
}

*, *:before, *:after
{
    box-sizing: inherit;
}

body 
{
    background: linear-gradient(rgba(255, 255, 255, 0.5),
                                rgba(255, 255, 255, 0.5)), 
                                rgba(242, 153, 33, 0.5)
                                url(../images/bggoku.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    background-size: 300px 500px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
}

/* Fonts */
@font-face
{
    font-family: 'Saiyan Font';
    src: url('fonts/SaiyanFont/ss-webfont.woff2') format('woff'),
         url('fonts/ss-webfont.woff') format('woff');
}

@font-face
{
    font-family: 'Bebas';
    src: url('fonts/BebasNeue/bebasneue-bold-webfont.woff2') format('woff'),
         url('fonts/bebasneue-bold-webfont.woff') format('woff');
}

@font-face
{
    font-family: 'Simplifica';
    src: url('fonts/Simplifica/simplifica_typeface-webfont.woff2') format('woff'),
         url('fonts/simplifica_typeface-webfont.woff') format('woff');
}

/* Buttons */
.buttonLayout
{
    text-align: left;
    display: inline-block;
    margin: 1% 1.75%;
}

.modalButtonLayout
{
    text-align: left;
    display: inline-block;
    margin: 3% 1.75%;
}

.buttons
{
    background: rgba(255, 215, 193, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px 4px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    font-size: 70%;
    font-family: Capriola, sans-serif;
    border-radius: 3px;
}

.buttons:hover
{
    background: rgb(253, 195, 165, 0.5);
    color: rgba(0, 0, 0, 0.6);
}

/* Buttons for Delete and Details */
.button
{
    background: rgba(255, 215, 193, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px 4px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    font-size: 70%;
    font-family: Capriola, sans-serif;
    border-radius: 3px;
    margin: 1% 1.25%;
}

.button:hover
{
    background: rgb(253, 195, 165, 0.5);
    color: rgba(0, 0, 0, 0.6);
}

/* Headers */
h1
{
    color: rgba(7, 32, 131, 0.8);
    letter-spacing: 2px;
    margin-top: 25px;
    display: inline-block;
}

h2
{
    background-color: rgba(229, 153, 130, 0.65);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Bebas, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    width: 95%;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    color: #072083;
}

h3
{
    font-family: Bebas, sans-serif;
    letter-spacing: 3px;
    font-size: 3.25em;
    color: #FFD7C1;
}

h4
{
    font-family: Bebas, sans-serif;
    font-size: 2.25em;
    letter-spacing: 3px;
    color: #072083;
}

ul
{
    font-family: Capriola, sans-serif;
    font-size: 0.95em;
    padding-left: 90px;
    padding-top: 5px;
    text-align: left;
    color: #FFD7C1;
}

li
{
    padding-bottom: 10px;
}

q
{
    font-style: italic;
    font-size: 0.95em;
    color: #072083;
}

/* Labels and input Fields 
-----------------------------*/

input 
{
    background: rgba(255, 215, 193, 0.6);
    display: inline-block;
}

/* Input boxes */
[type="text"]
{
    border: 2.5px solid rgba(7, 32, 131, 0.7);
    padding: 3px;
    margin: 1% auto;
    border-radius: 5px;
}

[type="password"]
{
    border: 2.5px solid rgba(248, 107, 26, 0.7);
    padding: 3px;
    margin: 1% auto;
    border-radius: 5px;
}

[type="email"]
{
    border: 2.5px solid rgba(248, 107, 26, 0.7);
    padding: 3px;
    margin: 1% auto;
    border-radius: 5px;
}

[type="tel"]
{
    border: 2.5px solid rgba(7, 32, 131, 0.7);
    padding: 3px;
    margin: 1% auto;
    border-radius: 5px;
}

/* Labels */
label
{
    display: inline-block;
    clear: left;
    width: 156px;
    text-align: left;
    margin-left: 10px;
    margin-right: 30px;
    font-family: Capriola, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

label[for=loginUsername], label[for=loginPassword]
{
    margin-left: 50px;
    margin-right: 10px;
}

/* Header and Footer 
-------------------*/

.headBanner
{
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
}

header
{
    background-image: linear-gradient(to bottom right, rgba(252, 125, 71, 0.65), rgba(248, 91, 26, 0));
    font-family: 'Saiyan Font', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    top: 0;
    margin: 0 0;
    height: 75px;
    width: 100%;
}

footer
{
    height: 50px;
    background-image: linear-gradient(rgba(242, 153, 33, 0), rgba(248, 91, 26, 0.4));
    text-align: center;
    color: rgba(7, 32, 131, 0.4);
    font-family: Capriola, sans-serif;
    font-size: 12px;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding-top: 8px;
}

/* Front Page
-----------------*/

.front-page
{
    max-width: 1100px;
    min-height: 100%;
    margin: 5% auto;
    padding: 25px;
    overflow: hidden;
}

hr
{
    width: 200px;
    height: 3px;
    background: rgba(248, 91, 26, 0.6);
    border-color: rgba(248, 91, 26, 0.6);
    border: 1px;
    border-radius: 6%;
}

#teamInfo
{
    background: rgba(248, 91, 26, 0.35);
    width: 425px;
    padding: 20px 30px; 
    padding-top: 15px;
    text-align: center;
    float: left;
    animation: contactOpen 1.5s;
}

/* Login Page */

#loginDiv
{
    border-style: solid;
    border-width: 5px;
    border-color: rgba(7, 32, 131, 0.9);
    border-radius: 10px;

    background: linear-gradient(rgba(255, 255, 255, 0.65),
                                rgba(255, 255, 255, 0.65)), 
                                url(../images/bgvalley.png) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    margin-left: 105px;
    margin-top: 19.5%;
    min-width: 500px;
    min-height: 200px;
    max-width: 520px;
    max-height: 400px;
    padding: 10px 0 0 20px;

    float: left;
    box-shadow: 9px 9px 9px gray;
    animation: loginOpen 3s;
}

/* Register Page */

#registerDiv
{
    border-style: solid;
    border-width: 5px;
    border-color: rgba(7, 32, 131, 0.9);
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.65),
                                rgba(255, 255, 255, 0.65)), 
                                url(../images/bgvalley.png) no-repeat;
    background-color: #F29921;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    margin-left: 105px;
    margin-top: 16%;
    min-width: 450px;
    min-height: 285px;
    max-width: 400px;
    max-height: 1200px;
    padding: 5px 0 10px 20px;

    float: left;
    box-shadow: 10px 10px 10px grey;
}

.credentials
{
    background: #072083;
    margin-right: 20px;
}

/* Contact Control */

#contactControlDiv
{
    border-style: solid;
    border-width: 5px;
    border-color: rgba(7, 32, 131, 0.9);
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
                                rgba(255, 255, 255, 0.5)), 
                                url(../images/bgvalley.png) no-repeat;
    background-color: #F29921;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    min-width: 100px;
    min-height: 285px;
    max-width: 550px;
    max-height: 500px; 
    margin: 5% auto;
    padding: 0 0 5px 20px;
    
    box-shadow: 10px 10px 10px grey; 
    animation: contactOpen 4.5s;
}

#contactSearch
{
    margin: auto 5px;
}

/* Animations */
@keyframes contactOpen
{
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes loginOpen
{
    0% {opacity: 0}
    20% {opacity: 0}
    100% {opacity: 1}
}

/* Modal Implementation 6/8 - Kenny
-------------------------------------*/

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}


.modal-content
{
    border-style: solid;
    border-width: 5px;
    border-color: #072083;
    border-radius: 10px;
    background-color: #F29921;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
                                rgba(255, 255, 255, 0.5)), 
                                url(../images/bgpond.png) no-repeat;

    min-width: 450px;
    min-height: 285px;
    max-width: 400px;
    max-height: 350px;
    padding: 10px 0 0 20px;
    margin: 13% auto;
    padding: 20px;

    /* width: 70%; */
    /* height: 55%; */
    animation-name: modalOpen;
    animation-duration: 0.8s;
}

/* Modals for confirmation message */

.modal-add
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.65);
    font-size: 0.9em;
    font-family: Capriola, sans-serif;
    animation: backgroundFade 3s;
}

/* .modal-search
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.65);
    font-size: 0.9em;
    font-family: Capriola, sans-serif;
    animation: backgroundFade 3s;
}

.confirmModal
{
    border-style: solid;
    border-width: 5px;
    border-color: #F29921;
    border-radius: 10px;
    background: #F6F6F6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    min-width: 250px;
    min-height: 160px;
    max-width: 250px;
    max-height: 160px;
    margin: 20% auto;

    animation: modalOpenClose 3s;
    text-align: center;
    color: black;
}

.roshi-img
{
    max-width: 35%;
    max-height: 30%;
    float: center;
    margin-top: 15px;
    margin-right: 25%;
    margin-left: 23%;
    margin-bottom: 5px;
    opacity: 0.8;
}

/* Animations
-----------------*/

@keyframes modalOpen
{
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes modalOpenClose
{
    0% {opacity: 0}
    50% {opacity: 1}
    80% {opacity: 0}
    100% {opacity: 0}
}

@keyframes backgroundFade
{
    0% {opacity: 1}
    50% {opacity: 1}
    80% {opacity: 0}
    100% {opacity: 0}
}